$icon-font-path: '../fonts/';

@media only screen and (max-width: 375px) {

	//SECTION-2

 	.section-2 {

	 	.images-list {

			li.images-item {
				width: 100%;
			}

	 	}
	
 	}

 	//section-3

 	.column {
 		width: 100%;

 		li {

 			span {
 				font-size: 16px;
 			}
 		}
 	}


}