$icon-font-path: '../fonts/';

@media only screen and (max-width: 320px) {	

 //section-3

	.left-column-list,
 	.right-column-list {
	
		li {
			width: 100%;
			height: 128px;
			margin: 0 auto;
		}

 	}
 	
}