$icon-font-path: '../fonts/';

@media only screen and (max-width: 568px) {

	//section-1

	.left-column,
	.right-column {
		max-width: 225px;
		margin: 0 auto;
		float: none;
	}

	.title-text {
		font-size: 16px;
	}

 .slider-block {	  
	  max-width: 141px;	  
	}

	.slider-title-block {
		width: 104px;
	}

	.bg-block {		
		height: 64px;
		bottom: 20px;
		margin-top: 0; 	

		.slider-title-text {
			font-size: 14px;

			 span {
				font-size: 16px;
			}
			
		}

	}

 .slider-title-block {
 	left: -78px;
 	bottom: 20px; 
 }

 //SECTION-2

 .section-2 {

 	.images-list {

		li.images-item {
			width: 50%;
		}

 	}

	
 }

  
}