$icon-font-path: '../fonts/';

@media only screen and (min-width: 768px) {

	//section-1

	.section-1 {
		height: auto;
	}

	.left-column {
		padding: 4rem 0;

		.button-block {
			display: flex;
		}

	}

	.right-column {
		padding: 1rem 0;

		.button-block {
			display: none;
		}
	}	

		.title-text {			
		margin: 20px auto 46px;
	}	

	.slick-dots {
	 	right: -10px;
	 }


	.slick-prev,
	.slick-next {
		right: -10px;

	}

	.slider-block {	  
	  max-width: 339px;
	  float: none;
	  margin: 0 auto;
	}	

	//section-3

	.section-3 {
		
		.image-wrap {
			width: 100%;
			position: static;
			transform: translateX(0);

			img {
				display: none;				
			}

		}

	}
	

	.left-column-list	{
		position: static;
		margin-bottom: 25px;	

		li {
			margin-bottom: 25px;

			&:last-child {
				margin-bottom: 0;
			}

		}	

	}

	.right-column-list	{
		position: static;

		li {
			background: url(../images/plashka-white-l.png) no-repeat;
			background-size: cover;
			margin-bottom: 25px;

			&:last-child {
				margin-bottom: 0;
			}

		}	

	}
  
}


@media only screen and (min-width: 992px) {

	//section-1

	.section-1 {
		height: 620px;
	}

	.left-column {
		//padding: 9rem 0;		
	}

	.right-column {
		padding: 4rem 0;
	}

	.slider-block {	  
	  max-width: 339px;
	  float: right;
	}	

	//section-3

	.section-3 {
		
		.image-wrap {
			width: 473px;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);

			img {
				display: block;				
			}

		}

	}

	.left-column-list	{
		margin-bottom: 0;
		position: absolute;
		left: -55%;

		li {
			margin-bottom: 10%;	
		}

	}

	.right-column-list	{
		position: absolute;
		right: -55%;

		li {
			background: url(../images/plashka-white-r.png) no-repeat;
			background-size: cover;
			margin-bottom: 10%;
		}

	}
 
}


@media only screen and (min-width: 1200px) {

  .container {
		min-width: 1200px;
		width: auto;
		padding-left: 80px;
		padding-right: 80px;
  }

 .slick-dots {
 	right: -40px;
 }

 .slick-prev,
	.slick-next {
		right: -40px;
	}

	//section-3

	.left-column-list	{
		left: -60%;
	}

	.right-column-list	{
		right: -60%;
	}

}



