$icon-font-path: '../fonts/';

@media only screen and (min-width: 768px) {

	//section-1

	.section-1 {
		height: auto;
	}

	.left-column {
		//padding: 4rem 0;
		padding: 13% 0;

		.button-block {
			display: flex;
		}

	}

	.btn {
		width: 188px;
	}

	.right-column {
		padding: 1rem 0;

		.button-block {
			display: none;
		}
	}	

		.title-text {			
		margin: 20px auto 46px;
	}	

	.slick-dots {
	 	right: -10px;
	 }


	.slick-prev,
	.slick-next {
		right: -10px;

	}

	.slider-block {			
	  max-width: 339px;
	  float: none;
	  margin: 0 auto;
	}	

	

	//section-3

	.section-3 {
		height: auto;
		
		.image-wrap {
			width: 100%;
			position: static;			

		}

	}

	.section-img {
		display: none;
	}
	

	.column {
		position: static;
		margin: 0 auto;

		li {
			margin-bottom: 0;
		}

	}

	.right-column-list {

		.icon-r {
			display: none;
		}

	}
  
}


@media only screen and (min-width: 992px) {

	//section-1

	.section-1 {
		//height: 620px;
	}

	.left-column {
		//padding: 9rem 0;		
	}

	.right-column {
		padding: 4rem 0;
	}

	.slider-block {	  
	  max-width: 339px;
	  float: right;
	}	

	//section-3

	.section-3 {
		//min-height: 729px;
		
		.image-wrap {
			//width: 473px;
			width: 40%;
			position: relative;
			margin: 0 auto;			

		}

	}

	.section-img {
		display: block;
	}

	.column {
		position: absolute;

		li {
			margin-bottom: 2%;

			span {
				font-size: 15px;
			}

		}

	}

	.left-column-list	{		
		left: -60%;		

	}

	.right-column-list	{		
		right: -60%;

		.icon {
			display: none;
		}	

		.icon-r {
			display: flex;
		}

	}
 
}


@media only screen and (min-width: 1200px) {

  .container {
		min-width: 1200px;
		width: auto;
		padding-left: 80px;
		padding-right: 80px;
  }

 .slick-dots {
 	right: -40px;
 }

 .slick-prev,
	.slick-next {
		right: -40px;
	}

	//section-1 

	.btn {
		width: 44%;
	}

	.slider-block {	
		//max-width: percent(339);
		max-width: 60%;	  
	  float: right;
	  margin: 0 auto;
	}	

	//section-3

	.section-3 {

		.image-wrap {
			//width: 42%;
		}

	}

	.column {
		position: absolute;

		li {			

			span {
				font-size: 18px;
			}

		}

	}

}



