$icon-font-path: '../fonts/';

.is-hidden{
  opacity:0;
}
.visible{
  opacity:1;
}

.clearfix {

	&:after {
		content: "";
		display: table;
		clear: both;
	}

}

.section-container {
	height: 100%;

	.row {
		height: 100%;
	}

}

.header {
	font-family: 'Exo 2', sans-serif;
	color: #fff;
	background: #17181d;
	height: 85px;
	position: fixed;
	width: 100%;
	left: 0;
	top:0;
	z-index: 1000;
}

.logo-block {
	padding: 25px 0;
}

.contacts-block {
	height: 85px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.phone {
	font-size: 16px;
	font-weight: 700;
	display: inline-block;
	

	&:before {
		content: "";
		background: url(../images/cellphone.svg) 50% 100% no-repeat;
		background-size: 20px 22px;
		width: 20px;
		height: 22px;
		display: inline-block;
		margin-right: 14px;
		fill: #fff;
		vertical-align: middle;
		margin-bottom: 5px;
	}

}

.header-button {
	background: transparent;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 15px 0;
	width: 190px;
	border: 1px solid #c90a05;	
	border-radius: 2px;
}

//SECTION-1

.section-1 {
	background: url(../images/backgorund-image.jpg) no-repeat;
	font-family: 'Exo 2', sans-serif;
	color: #fff;
	background-size: cover;	
	margin-top: 85px;
}

.heading {
	max-width: 100%;

	img {
		width: 100%;
	}
}

.left-column {	
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	//height: 292px;
}

.title-text {
	font-size: 22px;
	font-weight: 600;
	text-align: center;	
}

.button-block {
	width: 430px;
	display: flex;
	justify-content: space-between;
}

.btn {
	width: 188px;
	padding: 15px 0;
	border-radius: 3px;
	background: transparent;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #84909e;

	&:hover,
	&:focus,
	&:active {
		color: #fff;
	}

}

.color-btn {
	border:none;
	background: linear-gradient(to right, #c91c05, #8c0801);
}

.slider-block {
	position: relative;		
}

.slider-title-block {	
	width: 162px;
	position: absolute;
	bottom: 85px;
	left: -138px;
	z-index: 20;	
}

.slider-title-text {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;	

	span { 
		
			&:last-child {
			font-family: 'CooperHewitt', sans-serif;
			font-size: 32px;
			text-transform: uppercase;
			font-style: italic;
		}
	}		

}

.bg-block {
	background: url(../images/bg.png);
	width: 100%;
	height: 84px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 15px;

	.slider-title-text {
		text-align: center;

		span {
		font-size: 26px;
		display: block;
		}

	}	

}

.slider {
	//max-width: 339px;
	//float: right;	

	.slide {
		width: 100%;

		img {
			width: 100%;
		}

	}

}

.slick-slider {
	margin-bottom: 0;
}


.slick-dots {
	top: 50%;
	transform: translateY(-50%);
	width: 16px;	
	bottom: auto;	

	li {
			width: 16px;
			height: 16px;
			background: #b4cee7;
			border-radius: 50%;

		button {
			width: 100%;
			height: 100%;
			padding: 0;

			&:before {
				content: "";
			}
		}

	}	

	.slick-active {
		background: transparent;
		border: 1px solid #fff;
		box-sizing:border-box;
	}

}

.slick-prev {
	width: 15px;
	height: 15px;
	display: block;
	background: transparent;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	transform: rotate(45deg);

	top: 10%;	
	left: auto;
	margin-top: 0;
}

.slick-next {
	width: 15px;
	height: 15px;
	display: block;
	background: transparent;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	transform: rotate(45deg);

	bottom: 10%;	
	left: auto;
	margin-bottom: 0;
	top: auto;
}

