$icon-font-path: '../fonts/';

.is-hidden{
  opacity:0;
}
.visible{
  opacity:1;
}

.clearfix {

	&:after {
		content: "";
		display: table;
		clear: both;
	}

}

.section-container {
	height: 100%;

	.row {
		height: 100%;
	}

}

.header {
	font-family: 'Exo 2', sans-serif;
	color: #fff;
	background: #17181d;
	height: 85px;
	position: fixed;
	width: 100%;
	left: 0;
	top:0;
	z-index: 1000;
}

.logo-block {
	padding: 25px 0;
}

.contacts-block {
	height: 85px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.phone {
	font-size: 16px;
	font-weight: 700;
	display: inline-block;
	

	&:before {
		content: "";
		background: url(../images/cellphone.svg) 50% 100% no-repeat;
		background-size: 20px 22px;
		width: 20px;
		height: 22px;
		display: inline-block;
		margin-right: 14px;
		fill: #fff;
		vertical-align: middle;
		margin-bottom: 5px;
	}

}

.header-button {
	background: transparent;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 15px 0;
	width: 190px;
	border: 1px solid #c90a05;	
	border-radius: 2px;
	position: relative;
	z-index: 1
}

//SECTION-1

.section-1 {
	background: url(../images/backgorund-image.jpg) no-repeat;
	font-family: 'Exo 2', sans-serif;
	color: #fff;
	background-size: cover;	
	margin-top: 85px;
}

.heading {
	max-width: 100%;

	img {
		width: 100%;
	}
}

.left-column {	
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	//height: 292px;
}

.title-text {
	font-size: 22px;
	font-weight: 600;
	text-align: center;	
}

.button-block {
	width: 430px;
	display: flex;
	justify-content: space-between;
}

.btn {
	width: 188px;
	padding: 15px 0;
	border-radius: 3px;
	background: transparent;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #84909e;
	position: relative;
	z-index: 1;

	&:hover,
	&:focus,
	&:active {
		color: #fff;
	}

}

.color-btn {
	border:none;
	background: linear-gradient(to right, #c91c05, #8c0801);
}

.slider-block {
	position: relative;		
}

.slider-title-block {	
	width: 162px;
	position: absolute;
	bottom: 85px;
	left: -138px;
	z-index: 20;	
}

.slider-title-text {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;	

	span { 
		
			&:last-child {
			font-family: 'CooperHewitt', sans-serif;
			font-size: 32px;
			text-transform: uppercase;
			font-style: italic;
		}
	}		

}

.bg-block {
	background: url(../images/bg.png);
	width: 100%;
	height: 84px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 15px;

	.slider-title-text {
		text-align: center;

		span {
		font-size: 26px;
		display: block;
		}

	}	

}

.slider {	

	.slide {
		width: 100%;

		img {
			width: 100%;
		}

	}

}

.slick-slider {
	margin-bottom: 0;
}


.slick-dots {
	top: 50%;
	transform: translateY(-50%);
	width: 16px;	
	bottom: auto;	

	li {
			width: 16px;
			height: 16px;
			background: #b4cee7;
			border-radius: 50%;
			display: block;
			margin: 5px 0;

		button {
			width: 100%;
			height: 100%;
			padding: 0;

			&:before {
				content: "";
			}
		}

	}	

	.slick-active {
		background: transparent;
		border: 1px solid #fff;
		box-sizing:border-box;
	}

}

.slick-prev {
	width: 15px;
	height: 15px;
	display: block;
	background: transparent;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	transform: rotate(45deg);

	top: 18%;	
	left: auto;
	margin-top: 0;
}

.slick-next {
	width: 15px;
	height: 15px;
	display: block;
	background: transparent;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	transform: rotate(45deg);

	bottom: 18%;	
	left: auto;
	margin-bottom: 0;
	top: auto;
}

//SECTION-2

.section-2 {
	font-family: 'Exo 2', sans-serif;
	background: #e8e8e8;
	padding: 3.5rem 0;

	 h2 {	 	
		font-size: 36px;
		font-weight: 600;
		color: #2a2a2a;
		text-align: center;
		line-height: 1.2em;
		margin: 0 auto;
	 }
}

.title-description {
	font-size: 30px;
	font-weight: 600;
	color: #0258a5;
	text-align: center;
	line-height: 1.2em;
	margin: 10px auto 20px;
}

.images-list {

	 li {
		list-style:none;

		img {
			width: 100%;
		}

	 }
}


//SECTION-3


.section-3 {
	font-family: 'Exo 2', sans-serif;
	padding: 3.5rem 0;
	background: #fff;
	

	.image-wrap {				

		img {
			width: 100%;
		}

	}

}

.content-wrap {
	position: relative;

}

.left-column-list {	
	top: 70px;	
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

	li {
		background: url(../images/plashka-white-l.png) no-repeat;
		background-size: cover;		
		list-style: none;
		width: 374px;
		height: 137px;			
		display: block;		
		position: relative;

		display: flex;
		align-items: center;
		justify-content: center;		

		.icon	{
			background: url(../images/check-element.png) no-repeat;
			display: block;
			width: 73px;
			height: 73px;
			position: absolute;
			right: 36px;
			top:-50%;
			transform: translateY(50%);
		}

		span {
			font-size: 18px;
			font-weight: 700;
			line-height: 1.5em;
		}
		
	}

}

.right-column-list {	
	top: 70px;	
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

	li {		
		list-style: none;
		width: 374px;
		height: 137px;				
		display: block;		
		position: relative;			

		display: flex;
		align-items: center;
		justify-content: center;		

		.icon	{
			background: url(../images/check-element.png) no-repeat;
			display: block;
			width: 73px;
			height: 73px;
			position: absolute;
			right: 36px;
			top:-50%;
			transform: translateY(50%);
		}

		span {
			font-size: 18px;
			font-weight: 700;
			line-height: 1.5em;
		}		
	}
}

//SECTION-4

.section-4 {
	font-family: 'Exo 2', sans-serif;
	background: #0461b5;	
	padding: 3rem 0;
	color: #fff;

	.image-wrap {
		width: 100%;
		position: relative;		
		//height: 622px;

		img {
			//width: 100%;
			height: 510px;
			//position: absolute;
			left: 0;
			bottom: 0;
			
		}

	}

}

.action-column {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.action-list {	
	padding: 4.5rem 0;
}


.action-item {
	list-style:none;

	&:nth-child(3) {
		margin-top: 4rem;
	}

	&:nth-child(4) {
		margin-top: 4rem;
	}

	span {
		font-size: 18px;
		font-weight: 600;
		display: block;
		text-align: center;
		margin: 0 auto;
		width: 209px;
	}

	.action-icon {
		background: url(../images/cloud-small-image.png);
		background-size: cover;
		width: 125px;
		height: 97px;
		margin: 0 auto 30px;	

		display:flex;
		align-items: center;
		justify-content: center;

	span {
		font-family: 'CooperHewitt', sans-serif;
		color: #2a2a2a;
		font-size: 36px;

	}

}

}



