$icon-font-path: '../fonts/';

@function percent($size) {
 $unit: "%";
 $sz: $size/1200;
 @return $sz#{$unit};
}

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


@import "_fonts";
@import "_reset";
@import "_animate";
@import "_buttons";
@import "_slick";
@import "_slick-theme";
@import "_page";



@import "_other.scss";  


@import "_max-767.scss";
@import "_max-667.scss";
@import "_max-568.scss";
@import "_max-375.scss";
@import "_max-320.scss";
  
